.suptitle {
    margin-bottom: 10px;
}

.img {
    margin-bottom: 10px;
    object-fit: cover;
}

.text {
    margin-bottom: 10px;
}

.btn {
    margin-bottom: 10px !important;
    padding: 16px !important;
}