.outer {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 11px;
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
    padding: 10px 15px;
}

.ques {
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 4px 6px !important;
    border-radius: 4px !important;
    min-width: 27px !important;
    height: 25px !important;
    flex-shrink: 0;
}