.overlay {
    justify-content: flex-end !important;
}

.modal {
    min-height: auto !important;
    height: auto;
    max-width: 100% !important;
    max-height: 90svh;
    padding: 0 !important;
    border-radius: 15px 15px 0px 0px;
    background: var(--light, #FFF);
    opacity: 0;
    transform: translate(0, 100%);

    transition: opacity .15s linear, transform .15s linear;
    &__active {
        opacity: 1;
        transform: translate(0, 0);
        transition-delay: .3s;
    }
}

.btn {
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.line {
    width: 80px;
    height: 6px;
    border-radius: 10px;
    background: var(--dark);
    margin: 0 auto;
}

.content {
    padding: 0 15px 15px;
}