.course {
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 6px;

  &__active {
    .lessons {
      padding: 24px 15px 15px;
    }
  }
}

.head {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.descr {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.lessons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--gray-l-a);
  position: relative;
  top: -10px;
  z-index: 0;
  transition: padding 0.2s linear;
  padding: 0 15px 0;
}

.lesson {
  color: var(--dark);
  transition: color 0.2s linear;
  &__passed {
    color: var(--gray-l-a) !important;
    pointer-events: none;
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--accent-h);
    }
  }

  &:active {
    color: var(--accent-a);
  }
}

.notFound {
  &_title {
    font-size: 16px;
  }

  &_subtitle {
    font-size: 10px;
  }
}