.powered {
    font-size: 14px;
    color: var(--dark);
    width: max-content;
    white-space: nowrap;
}

.link {
    display: inline !important;
    color: var(--qc) !important;

    text-decoration: underline transparent;
}