.section, .container {
    height: 100% !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.section {
    margin-bottom: 0 !important;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 0 auto;
}

.title {
    margin-bottom: 10px;
}

.text {
    margin-bottom: 15px;
    max-width: 232px;
}

.img {
    margin-bottom: 30px;
}