.outer {
  position: relative;
  z-index: 9999;
}

.btn {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50px;
  border: 2px solid var(--dark);
  z-index: 9999;
  position: relative;
}

.overlay {
    z-index: 8888 !important;
    background: transparent !important;
    backdrop-filter: unset !important;
}

.modal {
z-index: 9999;
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  width: 230px;
  background: var(--light);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 24px 15px;
  box-shadow: 0px 2.991px 18.692px 0px rgba(0, 0, 0, 0.08);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.4s linear, visibility 0.4s linear,
    pointer-events 0.4s linear;

  &__active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray-l);
}

.name {
  font-size: 15px;
}

.num {
  font-size: 14px;
  color: var(--gray);
}

.exit {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--gray);
  padding: 8px 0;

  transition: color 0.2s linear;

  @media (any-hover: hover) {
    &:hover {
      color: var(--accent);
    }
  }

  &:active {
    color: var(--accent-h);
  }
}
