.overlay {
  padding: 15px !important;
}

.modal {
  padding: 30px 15px !important;
  border-radius: 10px !important;
  height: auto !important;
}

.close {
  display: none !important;
}

.submit {
  font-size: 12px !important;
}

.form {
  margin-bottom: 20px;
}
