.hero {
    flex: 1 0 auto;
}

.title {
    margin-bottom: 10px;
}

.descr {
    margin-bottom: 33px;
}

.img {
    margin-bottom: 10px;
    min-height: 190px;
    height: 190px;
}

.btn {
    max-width: 280px !important;
    margin: 0 auto !important;
    font-size: 14px !important;
    padding: 12px 20px !important;
}